h1{
	color: red;
	margin-left:50%;
	font-family: inherit;
	font-style: oblique;
	font font-weight: 800;
	text-decoration: underline;
	text transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.5em;
	
}
body{
	background-color: lightgoldenrodyellow;
	color: black;
	font-family: cursive, serif, sans-serif;
	font-size:13px;
	font-weight: normal;
	line-height: 2  em;
	margin: 0;
	list-style-image: url(list.png) ;
}




.post{
	background-color: antiquewhite;
	width: 80%;
	margin: auto;
	padding: 50px;
	border: 5px black dashed;
	border-style: double;
}
.aside ul{
padding: 0;
}